asyncmy==0.2.8
attrs==23.1.0
beautifulsoup4==4.12.2
bs4==0.0.1
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.3.2
colorama==0.4.6
cpf-cnpj-validate==1.4
datefinder==0.7.3
decorator==4.4.2
demon_connect==1.0.4
greenlet==3.0.0
h11==0.14.0
idna==3.4
imageio==2.32.0
imageio-ffmpeg==0.4.9
iniconfig==2.0.0
moviepy==1.0.3
mysql-connector==2.2.9
numpy==1.26.2
outcome==1.3.0.post0
packaging==23.2
pathlib2==2.3.7.post1
Pillow==10.0.1
playwright==1.39.0
pluggy==1.3.0
proglog==0.1.10
pycparser==2.21
pyee==11.0.1
pypng==0.20220715.0
PySocks==1.7.1
pytest==7.4.3
pytest-base-url==2.0.0
pytest-playwright==0.4.3
python-dateutil==2.8.2
python-dotenv==1.0.0
python-slugify==8.0.1
pytz==2023.3.post1
qrcode==7.4.2
regex==2023.10.3
requests==2.31.0
selenium==4.15.2
setuptools==68.2.2
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.5
text-unidecode==1.3
tqdm==4.66.1
trio==0.23.1
trio-websocket==0.11.1
typing-extensions==3.10.0.2
Unidecode==1.3.7
urllib3==2.1.0
webdriver-manager==3.9.1
wsproto==1.2.0
